{% extends "header.html" %}
{% block body %}
 <div class="container" style="padding-top:20px;">
<div class="row">
 <div class="col-md-9 personal-info">
  <form class="form-horizontal" role="form">
        <div class="form-group">
        <label class="col-lg-3 control-label">username:</label>
             <div class="col-lg-8">
       <input class="form-control" type="text" placeholder="username" name="username">
            </div><!-- closing col-lg-8-->
        </div><!-- closing form-group-->
  <form class="form-horizontal" role="form">
        <div class="form-group">
        <label class="col-lg-3 control-label">Password:</label>
             <div class="col-lg-8">
       <input class="form-control" type="text" placeholder="password" name="password">
            </div><!-- closing col-lg-8-->
        </div><!-- closing form-group-->
    <button type="submit" class="btn btn-primary">Sign In</button>
  <b> {% with messages = get_flashed_messages() %}
          {% if messages %}         
            {% for i in messages %}
                {{i}}
            {% endfor %} 
          {% endif %}
  {% endwith %} </b>
</form>
</div>
</div>
    <a href="{{url_for('registration')}}">Sign up</a>
   </div>  
   {% endblock %}

